name: Gradle CI

on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]

jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: grant execute permission for gradlew on linux systems
        if: runner.os == 'Linux'
        run: chmod +x gradlew

      - name: gradlew test
        run: ./gradlew test --continue

      - name: publish test reports
        if: success() || failure()
        uses: dorny/test-reporter@v2.5.0
        with:
          name: test report
          path: '**/build/test-results/test/TEST-*.xml'
          reporter: java-junit

  cd:
    name: cd
    runs-on: ubuntu-latest
    needs:
      - ci
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: grant execute permission for gradlew on linux systems
        if: runner.os == 'Linux'
        run: chmod +x gradlew

      - name: build
        run: ./gradlew publishPlugins -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}
